/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    /* gap: 35px; */
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    gap: 35px;
    padding: 0 50px;
    /* margin: 230px; */
    /* box-sizing: border-box; */
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, ul li, ol li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


/*........................................*/
/********************************* Header */
header {
    height: 79px;

}

header nav {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
}

header div {
    display: flex;
}

.menu {
    padding-top: 14px;
    margin-left: 68px;
    border-top: 2px solid transparent;
}

.menu:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/*........................................*/
/*********************************** MAIN */
main {
    /* gap: 35px; */
}


/*! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! BUG ! */
/*........................................*/
/*************** SECTION 1 . INFOS GROUPE */
.infos-groupe {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* align-self: stretch; */
    gap: 35px;
    padding: 0px;
    margin: 0px;
}

.barre-de-recherche {
    height: 49px;
    display: flex;
}

.barre-de-recherche button {
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barre-de-recherche .fa-location-dot {
    font-size: 18px;
    color: #000;
}

.barre-de-recherche input {
    color: var(--Black, #000);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid var(--Grey, #F2F2F2);
}

.barre-de-recherche .boutton-1 {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    padding: 15px 16px;
    align-items: center;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 10px;
    width: unset;
}

.barre-de-recherche .boutton-2 {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    padding: 15px 16px;
    align-items: center;
    color: var(--White, #ffffff);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 10px;
    width: unset;
    display: none;
}

/*** Filter ***/
.barre-de-filtre {
    display: flex;
}

.barre-de-filtre h3 {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
}

.barre-de-filtre div {
    display: flex;
    height: 38px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    width: fit-content;
    margin-right: 15px;
    cursor: pointer;
}

.barre-de-filtre i {
    font-size: 19px;
}

.barre-de-filtre p {
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.barre-de-filtre div:hover {
    background: var(--filter-bg-color);
}

/*.......... SECTION INFOS GROUPE . DIV 4 */
.barre-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 35px;
    max-height: 24px;
    max-width: 1340px;
    gap: 10px;

}

.barre-info .info-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    border: 1px solid var(--grey-tint-2, #D9D9D9);
    border-radius: 50%;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.barre-info p {
    padding: 0px;
    margin: 0px;
}

.barre-info .fa-info {
    font-size: 12px;
}


/**** START ***/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    object-position: center;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.sr-only {
    display: none;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: auto;
    /* height: 234.5px; */
    margin-top: 33px;
}

.hebergements-cards img {
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    /* padding-top: 4px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    /* padding-bottom: 5px; */
    padding: 10px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
}

.hebergements-cards h3 {
    margin: 0;
}

.hebergements-cards p {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hebergements .afficher-plus {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}






/*..............................*/
/**** 3 iéme SECTION . ACTIVITE */
/********************* ACTIVITE */
.activity {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start ; */
    /* justify-content: space-aroundr; */
    /* align-self: stretch; */
    /* height: 499PX; */
    /* width: 1280PX; */
    width: auto;
    gap: 30px;
    padding: 30px;
    /* background-color: cadetblue; */
}

.activity h2 {
    margin: 0px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-start; */
    /* align-self: stretch; */
    /* height: 439PX; */
    width: 100%;
    gap: 30px;
}

.card-activity {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /*flex: 1 0 0;*/
    /* height: 439px; */
    /* width: 298px; */
    width: 25%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.card-activity img {
    height: 380px;
    width: 100%;
    flex-shrink: 0;
    align-self: stretch;
    object-fit: cover;
    /* object-position: center; */
    border-radius: 20px 20px 0px 0px;
}

.card-activity div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    height: 19px;
    gap: 10px;
    padding: 20px 19px;
    border-radius: 0px 0px 20px 20px;
    background: var(--White, #FFF);
}

.card-activity div p {
    margin: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
}



/*...............................*/
/******* 4 iéme SECTION . FOOTER */
/************************ FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
    /* height: 163px; */
    height: auto;
    /* width: 1340px; */
    width: 100%;
    background: var(--Grey, #F2F2F2);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-self: stretch; */
    /* flex: 1 0 0; */
    height: 123px;
    /* width: 407px; */
    width: 33.333%;
    gap: 15px;
    padding: 20px;
}

.services nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0px;
}

.services nav .praragraphe {
    margin: 0px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
}

.services nav ul li a p {
    margin: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
}

/*..............................*/
/*..............................*/
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
/*..............................*/
@media (max-width: 1024px) {

    .barre-de-filtre {
        flex-wrap: wrap;
    }

    .barre-de-filtre h3 {
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activity img {
        height: 200px;
    }
}


/*...............................*/
/* Small devices (phones, less than 768px) */
/*...............................*/
@media (max-width: 767.98px) {

    /*.......................*/
    /*    LE CORP DE LA PAGE */
    .main-container {
        padding: 0px;
        font-size: 16px;
    }

    /*.......................*/
    /*                HEADER */
    header {
        height: auto;
    }

    header img {
        margin-right: 0;
    }

    header nav {
        flex-direction: column;
    }

    header div {
        width: 100%;
    }

    header a {
        text-align: center;
        margin-right: 0;
    }

    header .menu {
        width: 50%;
        margin-left: 0;
        padding-top: 0;
        border-top: unset;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 15px;
    }

    .menu:hover {
        border-top: unset;
        border-bottom: 2px solid var(--main-color);
    }

    /*.......................*/
    /*            INFO-GROUP */

    .infos-groupe {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }

    .infos-groupe h1 {
        font-size: 22px;
        /* text-align: justify; */
    }

    .form {
        /* justify-content: stretch; */
        /* width: 335px; */
    }

    /*.......................*/
    /*    BARRE DE RECHERCHE */
    .barre-de-recherche {
        width: 100%;
    }

    .barre-de-recherche input {
        width: 100%;
    }


    .barre-de-recherche .boutton-1 {
        display: none;
    }

    .barre-de-recherche .boutton-2 {
        display: block;
        border-radius: 15px;
        margin-left: -10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    /*.......................*/
    /*       BARRE DE FILTRE */
    .barre-de-filtre div {
        flex: 31%;
        margin-bottom: 20px;
    }

    .barre-de-filtre p {
        font-size: 14px;
    }

    /*.......................*/
    /*    LES PLUS POPULAIRE */

    .hebergements-and-populaires .populaires {
        order: 1;
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        order: 2;
        background-color: white;
    }

    .hebergements-cards .card {
        height: auto;
    }

    .populaires-cards,
    .hebergements-cards,
    .activites-cards {
        flex-direction: column;
    }

    .populaires-cards a,
    .hebergements-cards a,
    .activites-cards a {
        width: 100%;
    }

    .hebergements .afficher-plus {
        font-size: 18px;
    }

    /*.......................*/
    /* ACTIVITES A MARSEILLE */

    .activity h2 {
        font-size: 26px;
    }

    .frame {
        display: flex;
        flex-direction: column;
    }

    .card-activity {
        width: 100%;
        /* padding-top: 20px; */
    }

    .card-activity div h4 {
        font-size: 18px;
    }

    .card-activity img {
        object-fit: cover;
        object-position: center;
    }

    /*.........FOOTER..............*/

    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        gap: 50px;
        padding: 30px;
    }
    .services {
        height: auto;
        width: 264px;
    }

    .services nav ul li a p,
    .services nav ul li a .praragraphe {
        font-size: 18px;
        padding: 0px;
    }

    .services nav {
        height: auto;
        gap: 15px;
    }
}



